# Source - https://stackoverflow.com/q/72891468
# Posted by Sarequl Basar, modified by community. See post 'Timeline' for change history
# Retrieved 2026-03-04, License - CC BY-SA 4.0

/node_modules
.env
docker-compose.yml
